.chat-page {
    display: flex;
    height: 100vh;
    position: relative;
}

@media (max-width: 768px) {
    .chat-page {
        position: relative;
        justify-content: space-between;
        flex-direction: column;
    }
    
}