.title-name {
    margin-bottom: 44px;
    &__name {
        background: var(--text-primary-gradient);
        width: 320px;
        font-weight: 500;
        font-size: 3rem;
        line-height: 64px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__text {
        color: var(--text-secondary-color);
        font-size: 3rem;
        line-height: 64px;
        font-weight: 500;
    }
}


@media (max-width: 1200px) {
    .title-name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}