.main-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;
    }
    &.hidden {
        display: none;
    }
}

@media (max-width: 1200px) {
    .main-chat {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }  
}

@media (max-width: 800px) {
    .main-chat {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }  
}


@media (max-width: 600px) {
    .main-chat {
        &__list {
            display: none;
        }
    }  
}