:root {
    --background-primary-color: #F0F4F9;
    --background-secondary-color: #F3EDF7;
    --background-third-color: #ECE6F0;
    --background-fourth-color: #49454F;
    --background-five-color: #F7F2FA;
    --background-six-color: #DED8E1;
    --background-seven-color: #E6E0E9;
    --background-eight-color: #FFFFFF;

    --text-primary-color: #49454F;
    --text-secondary-color: #C4C7C5;

    
    --text-primary-gradient: -webkit-linear-gradient(78.7deg, #439DDF 12.52%, #4F87ED 35.44%, #9476C5 46.7%, #BC688E 51.37%, #D6645D 56.25%);
}


