@use "./resets/reset.scss";
@use "./mixins.scss" as mixins;
@use "./themes/light.scss";
@use "./themes/dark.scss";

body {
    @include mixins.default-font;
    position: relative;
    overflow: hidden;
    height: 100%;
}

html, #root {
    height: 100%;
}