.chat-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1052px;
    width: 100%;
    padding-top: 110px;
    margin: 0 auto;
    overflow-y: auto;
}
