.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1052px;
    height: 100%;
    width: 100%;
    padding: 110px 20px 0px 20px;
    margin: 0 auto;
    overflow-y: hidden;
    scrollbar-width: thin; 
    scrollbar-color: var(--background-six-color) var(--background-secondary-color); 
}

@media (max-width: 768px) {
    .chat-container {
        padding: 0px;
    }
}
