.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1052px;
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding: 110px 20px 0px 20px;
    margin: 0 auto; 
}

@media (max-width: 768px) {
    .chat-container {
        padding: 0px;
    }
}
