.burger-menu {
    padding: 10px;
    margin-bottom: 57px;
    border-radius: 10px;
    &__img {
        width: 20px;
        height: 20px;
    }
    &:hover {
        background: var(--background-six-color);
    }
}
