.burger-menu {
    cursor: pointer;
    display: flex;
    gap: 3px;
    flex-direction: column;
    width: 20px;
    margin-bottom: 57px;
    &__line {
        background: var(--background-fourth-color);
        height: 3px;
    }
}
