.create-chat {
    display: flex;
    gap: 11px;
    cursor: pointer;
    padding: 15px;
    border-radius: 16px;
    background: var(--background-third-color);
    transition: background 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    &__img {
        width: 16px;
        height: 16px;
    }
    &__text {
        color: var(--text-third-color);
    }
    &:hover {
        background: var(--background-six-color);
    }
}

.create-chat-tooltip {
    z-index: 1;
}

@media (max-width: 768px) {
    .create-chat-tooltip {
        display: none;
    }
}
