.sidebar {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    padding: 27px 22px;
    background: var(--background-five-color);

    &__buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 48px;

        &-item {
            display: flex;
            gap: 18px;
            justify-content: center;
        }
    }
}
