@use "styles/mixins.scss" as mixins;

.ai-answer {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 70%;

    &__icon {
        margin: 10px 10px 0px 0px;
    }
    @include mixins.ai-styles;
}

@media (max-width: 768px) {
    .ai-answer {
        padding: 10px;
    }
}