.home-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

@media (max-width: 768px) {
    .home-page {
        justify-content: space-between;
        flex-direction: column;
    }
}